<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>

<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

<!-- Loading Javascript Stuff -->
<script type="text/javascript" src="javascript/clientJavascript.js"></script>
<script type="text/javascript" src="angularjs/angular.js"></script>
<script type="text/javascript" src="javascript/main.controller.js"></script>

</head>

<body bgcolor="#7fffd4" ng-app="mainApp">

<div ng-include="'views/navbar.html'"></div>

<hr>
<div>
<img src="assets/images/ferret.jpg" alt="A super cute ferret face!">
   <figcaption class="centerText"> A super cute ferret face!</figcaption>
</div>
</hr>
</body>
</html>