<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA Calculator</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="GPActrl">

<div ng-include="'views/navbar.html'"></div>


<form ng-submit="addToTranscript()">
    <input ng-model="input.NAME" type="text" name="courseName"> Course Name <br/>
    <input ng-model="input.CREDITS" type="text" name="credits"> Course Credits <br/>
    <input ng-model="input.GRADE" type="text" name="grade"> Course Grade <br/>
    <input type="submit" value="submit" class="btn btn-primary">
    <span ng-style="GPAColor()" class="floatCenter">Total GPA:{{TotalGPA()}}</span>
</form>


</body>
